body {
    background-color: #020925;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #78ace4;
    padding: 10px 0;
}

h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.map-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.user-info {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#search-section {
    margin-top: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

footer {
    margin-top: 20px;
}

/* Estilos para Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #e2e0eb;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: black;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hash-left-top {
    position:absolute; /* Fixa a imagem no topo da página */
    top: 20; /* Define a posição no topo */
    left: 0; /* Define a posição à esquerda */
    margin: 10px; /* Espaço ao redor da imagem */
}


