
body {
    background-color: #020925; /* Fundo escuro */
    font-family: Arial, sans-serif; /* Fonte limpa e legível */
    color: white; /* Texto claro para contraste */
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #78ace4; /* Cor de destaque para o cabeçalho */
    padding: 10px 0;
}

h1 {
    margin: 0;
}

/* Estilo principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.map-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.user-info {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.user-info img {
    width: 100px; /* Tamanho fixo para imagens do perfil */
    height: 100px;
    border-radius: 50%; /* Forma circular */
}

#search-section {
    margin-top: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc; /* Borda leve para destaque */
    border-radius: 5px;
    width: 250px; /* Tamanho consistente */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745; /* Cor de botão chamativa */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Animação suave ao hover */
}

button:hover {
    background-color: #218838; /* Cor ao passar o mouse */
}

footer {
    margin-top: 20px;
}

/* Estilos para Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro com transparência */
    padding-top: 60px;
}

.modal-content {
    background-color: #e2e0eb; /* Fundo claro para modal */
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: black;
    border-radius: 10px; /* Cantos arredondados */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para imagem flutuante no topo */
.hash-left-top {
    position: absolute; /* Fixa a imagem no topo da página */
    top: 20px; /* Posição do topo */
    left: 0; /* Posição à esquerda */
    margin: 10px; /* Espaçamento ao redor da imagem */
}

/* Responsividade */
@media (max-width: 768px) {
    input {
        width: 100%; /* Ajusta largura dos inputs em telas pequenas */
    }

    .modal-content {
        width: 90%; /* Ajusta tamanho do modal */
    }

    .user-info img {
        width: 80px; /* Ajusta tamanho das imagens de perfil */
        height: 80px;
    }
}
